.body {
  flex: 0.8;
  background: linear-gradient(rgba(18, 18, 18,.8), rgba(0, 0, 0, 1));
  color: #fff;
  padding: 30px 30px 0 30px;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}

.body > .body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;

  img {
    height: 128px;
  }
}

.body__table_info {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: rgb(179, 179, 179);
  font-size: 14px;

  .body__table_number {
    width: 3%
  }
  .body__table_title {
    width: 55%;
  }
  .body__table_album {
    width: 37%;
  }
  .body__table_date_released {
    width: 19%;
  }
  .body__table_duration {
    width: 18%;
  }
}

.body__table_hr {
  margin-bottom: 20px;
  height: 1px;
  border: none;
  color: #b3b3b3;
  background-color: #b3b3b3;
}

.body__infoText {
  flex: 1;

  h1 {
    font-size: 96px;
  }
  p {
    font-size: 14px;
    color: rgb(179, 179, 179);
  }
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

.body__songs {
  margin: 20px -30px;
  padding: 16px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1ed15e;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform:scale(1.08);
  cursor: pointer;
}

.body__favorite {
  color: #1ed15e;
}

.body__favorite {
  cursor: pointer;
}

.body__more {
  color: grey;
}
