.body {
  flex: 0.8;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
  color: #fff;
  padding: 30px 30px 0 30px;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}

.body > .body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;

  img {
    height: 128px;
  }
}

.body__table_info {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(179, 179, 179);
  font-size: 14px;

  .body__table_number {
    width: 5%;
  }
  .body__table_title {
    width: 40%;
  }
  .body__table_album {
    width: 40%;
  }
  .body__table_date_added {
    width: 20%;
  }
  .body__table_duration {
    width: 20%;
  }

  .body__table_hr {
    width: 500px;
  }
}


.body__infoText {
  flex: 1;

  h1 {
    font-size: 96px;
  }
  p {
    font-size: 14px;
    color: rgb(179, 179, 179);

  }

}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

.body__songs {
    margin: 20px -30px;
}

.body__icons {
    display: flex;
    align-items: center;

}

.body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1ed15e;
}

.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform:scale(1.08);
    cursor: pointer;
}

.body__favorite {
    color: #1ed15e;
}

.body__favorite {
    cursor: pointer;
}

.body__more {
    color: grey;
}
