.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color:black;

}


.login > img {
    max-width: 100%;
    max-height: 100px;
}

.login > h1 {
    color: #fff;
}

.login > p {
    color: #fff;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
   font-weight: 500;
   color: white;
   text-decoration:none;
}

.login > a:hover {
    cursor: pointer;
}