.songRow {
  display: flex;
  align-items: center;
  color: #fff;
}

.songRow:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
  border-radius: 10px;
}

.songRow__info > h1 {
  font-size: 16px;
}


.songRow__info {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  margin: 0 auto;
  
.songRow__number {
  width: 50px;
  text-align: center;
}

.songRow__title {
  display: flex;
  width: 60%;
  .songRow__album {
    width: 40px;
    border-radius: 10px;
    margin-right: 12px;
  }
  h1 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    color: rgb(179, 179, 179);
  }
}
  .songRow__album {
    width: 39%;
    font-size: 14px;
  }
  .songRow__date_added {
    width: 21%;
    font-size: 14px;
  }
  .songRow__duration {
    width: 20%;
    font-size: 14px;
  }
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: rgb(179, 179, 179);
}

